@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Font Settings */
body {
  font-family: 'DM Sans', 'Figtree', sans-serif;
}

/* Custom Classes for Specific Weights and Styles */

/* DM Sans */
.dm-sans-light {
  font-family: 'DM Sans', sans-serif;
  font-weight: 300;
}

.dm-sans-regular {
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
}

.dm-sans-bold {
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
}

/* Figtree */
.figtree-light {
  font-family: 'Figtree', sans-serif;
  font-weight: 300;
}

.figtree-regular {
  font-family: 'Figtree', sans-serif;
  font-weight: 400;
}

.figtree-semibold {
  font-family: 'Figtree', sans-serif;
  font-weight: 600;
}

.figtree-bold {
  font-family: 'Figtree', sans-serif;
  font-weight: 700;
}
